*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
.vscode
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

Task2.DAL/bin
Task2.DAL/obj
Task2.BLL/bin
Task2.BLL/obj
Task2.PL/bin
Task2.PL/obj
.vs